on:
    push:
    workflow_dispatch:

env:
    NSUnbufferedIO: YES

defaults:
    run:
        shell: bash

jobs:
    job:
        runs-on: macos-15-intel
        steps:
            - uses: actions/checkout@main
            - run: swift Test.swift