on:
    push:
    workflow_dispatch:

env:
    NSUnbufferedIO: YES

defaults:
    run:
        shell: bash

jobs:
    job:
        runs-on: macos-15-intel
        steps:
            - run: |
                ioreg -b -f -i -l -t -w 0
